*{

    background: #DAE3E5;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

}

.logo{

    padding-top: 10px;
    margin-left: 10px;
    width: 10%;

}

main{

    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;

}

.tex-area{

    border: none;
    color: #3A506B;
    margin-top: 90px;
    text-transform: lowercase;

}

::placeholder{ color: #3A506B;}

    .tex-area:focus{

        outline: none;

    }

.mensaje{

    height: 500px;
    background: white;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #3A506B;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: relative;
}


.mensaje:focus{

    outline: none;

}

.botones{

    display: flex;
    margin-top: 18px;

}

.botonDesencriptar{

    background: #D8DFE8;
    border: 1px solid #3A506B;
    border-radius: 24px;
    color: #3A506B;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;

}

.botonEncriptar{

    background-color: #3A506B;
    border: 1px solid #3A506B;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;

}

.copiar {

    border: 1px solid #3A506B;
    border-radius: 24px;
    color: #3A506B;
    cursor: pointer;
    height: 67px;
    margin-left: 120px;
    margin-top: 160px;
    position: relative;
    width: 328px;
    
}

.informacion {

    color: #495057;
    font-size: 18px;

}

footer{

    position: relative;
    text-align: acenter;
    height: 200px;
    padding: 30px;
    font-family:  "Montserrat", sans-serif;
    text-align: center;

}

.redesSociales{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.redesSociales h2 {
    margin: 0;
    text-align: center;
    font-size: 18px;
}

.redesSociales ul {

    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;

}

.redesSociales .redes {

    margin: 0 10px;
}


.redesSociales img {

    width: 45px;
    height: 45px;

}

.banner {

    display: block;
    width: 100%;
    height: auto;
    margin-top: 20px;

}